.App {
  text-align: center;
}
body {
  background-color: darkslateblue;
  color: whitesmoke;
  height: 100vh;
  font-family: "Roboto Mono", monospace;
  background-image: url("https://toppng.com/free-image/no-transparent-png-PNG-free-PNG-Images_131973");
}

#root {
  height: 100%;
}
.App {
  display: flex;
  height: 100%;
  width: 100vw;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.App > * {
  margin: 1rem;
  font-size: 1.35rem;
  width: 100%;
}
.quotes-component {
  width: 100%;
  height: 100%;
}
.breathTimer {
  font-size: 4em;
  border: 4px solid royalblue;
  border-radius: 50%;
  box-shadow: 10px solid black;
  width: 15rem;
  height: 15rem;
  display: flexbox;
  justify-content: center;
  align-items: center;
  vertical-align: center;
  text-align: center;
  transition: 0.45s ease-in-out all;
}
.breathTimer:hover {
  cursor: pointer;
  background-color: royalblue;
  transition: 0.45s ease-in-out all;
}
.message {
  font-size: 0.45em;
  min-height: 1.3em;
  margin-bottom: 0.5em;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  vertical-align: center;
  align-items: flex-end;
}
.timer {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  vertical-align: center;
  align-items: baseline;
}
.breathe {
  color: skyblue;
  width: 100%;
}
.hold {
  color: gold;
  width: 100%;
}
.sound-btn {
  padding: 2rem;
  background-color: darkslateblue;
  color: white;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  letter-spacing: 0.25rem;
  border: none;
  /* border-radius: 15%; */
  transition: 0.25s ease-in-out all;
}
.sound-btn:hover {
  color: white;
  cursor: pointer;
  text-decoration: underline;
  transition: 0.25s ease-in-out all;
}
.soundsTitle {
  font-weight: 200;
}
.quote-btn {
  background: none;
  padding: 0.2rem;
  margin-top: 1rem;
  color: white;
  border: none;
  font-family: monospace;
  transition: 0.25s ease-in-out all;
}
.quote-btn:hover {
  color: skyblue;
  transition: 0.25s ease-in-out all;
  border: none;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .sound-btn {
    font-size: 15px;
    width: 50%;
    height: 100%;
    padding: 0.5rem;
  }
}
